body {
    background-color: rgb(39, 39, 39);
    font-family: 'Valorant', sans-serif;
    background-color: #403060;
    background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: 'VALORANT';
    font-style: normal;
    font-weight: 400;
    src: local('VALORANT'), url('https://fonts.cdnfonts.com/s/37505/Valorant Font.woff') format('woff');
}

ul {
    background-color:red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    font-size: 100px;
    text-decoration: 0;
    color: white;
    z-index: 1;
}

li {
    float: left;
}

h1 {
    color: white;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 75px;
    border-radius: 75px;
    border-bottom: groove white;
    margin: 50px;
    margin-top: 60px;
}

p {
    color: white;
}

div {
    margin-top: 0px;
}

#ngt {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#bild1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text1 {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#text2 {
    margin: 0px;
    align-items: top;
}

li a:hover {
    color: rgb(80, 0, 0)
}

#roles {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.all-roles {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.all-roles-text {
    margin: 10px;
    max-width: 450px;
    text-align: center;
}

.some-agents {
    border: 2px solid white;
    margin: 50px 0px;
}

#events {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#role-pic {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#event-text {
    margin: 0px 50px;
    border: thick turquoise;
    border-style: groove;
    padding: 0px 10px;
}

#event-text2 {
    border: thick turquoise;
    border-style: double;
}


.div-content {
    width: 700px;
    position: relative;
    min-width: 700px;
    border: white;
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 7px 7px;
    vertical-align: sub;
    overflow: hidden;
    text-decoration: none;
    color: greenyellow;
    font-size: 30px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 36%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.slider-button:hover {
    color: rgb(255, 50, 0);
}

.display-left {
    left: 0%;
}

.display-right {
    right: 0%;
}

#game1 {
    width: 500px;
    border: double white;
    padding: 5px;
}

#game2 {
    width: 500px;
    border: double white;
    padding: 5px;
}

#game3 {
    border: groove whitesmoke;
    padding: 8px;
    width: 1000px;    
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

#game4 {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#fracture {
    border: hidden;
}

#fract-bild {
    border: double white;
}

#gaias {
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#gaias-bild {
    border: groove white;
}

#din-shop {
    margin-top: 70px;
    padding-bottom: 30px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    border-bottom: 5px double greenyellow;
}

#collection {
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 80px;
}

.skin {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.all-skins {
    margin: 0px;
    width: 380px;
}

.some-skins {
    border: hidden;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 380px;
}

#agents-title {
    margin: auto;
    border: groove whitesmoke;
    padding: 3px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#pic-changer {
    margin: 0px;
    border: double white;
}

#moyen {
    margin: 0px;
}

#ind-bild {
    margin: 0px;
}

#fract-lank {
    margin: 0px
}

#champions-border {
    margin: 0px;
    border: double white;
}

.links {
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.dropbtn {
    background-color: red;
    cursor: cell;
    color: white;
    flex-direction: row;
    font-family: 'Valorant', sans-serif;
    font-size: 20px;
    border: groove white;
    padding: 18px;
    border-radius: 75px;
  }

.dropdown-content {
    display: none;
    width: 200px;
    position: absolute;
    overflow: auto;
    z-index: 1;
    border: groove white;
    box-shadow: 3px 3px 3px 3px white;
    background-color: red;
    border-radius: 30px;
  }

.dropdown a:hover {
    background-color: rgb(65, 0, 0);
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(80, 0, 0);
  }

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    color: white;
  }

.show {display: block;}



#index-css {
    border-bottom: groove rgb(200, 200, 200);
    background-color:rgb(158, 0, 0)
}

#game-css {
    border-bottom: groove rgb(200, 200, 200);
    background-color:rgb(131, 0, 0)
}

#agents-css {
    border-bottom: groove rgb(200, 200, 200);
    background-color:rgb(114, 0, 0)
}

#shop-css {
    border-bottom: groove rgb(200, 200, 200);
    background-color:rgb(97, 0, 0)
}

#events-css {
    background-color:rgb(80, 0, 0)
}

#music {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.sources {
    font-size: 40px;
    margin-bottom: 20px;
}

.surces {
    margin-bottom: 10px;
}

.link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: turquoise;
}

#text-event {
    margin-left: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Roboto", "Noto Sans", "Helvetica", sans-serif;
    font-size: 14px;
    background-color: #3498DB;
    height: 100%;
  }
  
  .calculator {
    width: 350px;
    height: auto;
    margin: 70px auto 0;
    overflow: hidden;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  .calculator span {
    -moz-user-select: none;
    user-select: none;
  }
  
  .top {
    position: relative;
    height: 150px;
    background-color: white;
  }
  
  .top .unit {
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 700;
    color: #757575;
  }
  
  .top .screen {
    position: relative;
    width: 100%;
    top: 20%;
    height: 80%;
  }
  
  .screen > div  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
    text-align: right;
  }
  
  .screen .input {
    color: #757575;
    height: 60%;
    font-size: 35px;
  }
  
  .screen .result {
    color: #9e9e9e;
    font-size: 20px;
    height: 40%;
  }
  
  .bottom {
    background-color: #2D2D2D;
    height: 300px;
    color: #fff;
    cursor: pointer;
  }
  
  .bottom section {
    position: relative;
    height: 100%;
    float: left;
    display: flex;
  }
  
  .keys {
    width: 80%;
  }
  
  
  .keys .column {
    display: flex;
    flex-grow: 1;
  }
  
  .keys .column, .operators {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .keys .column span, .operators span {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
    line-height: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    color: yellowgreen;
  }
  
  .keys .column span {
    font-size: 28px;
  }

  .keys .column span:hover {
      background-color: rgb(39, 39, 39)
  }
  
  .keys .column span:hover, .operators span:hover {
    background-color: rgb(114, 0, 0);
  }
  
  .operators {
    width: 20%;
    font-size: 20px;
    background-color: darkmagenta;
  }
  
  .delete {
    font-size: 19px;
    text-transform: uppercase;
  }
  
  .credit {
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
  }
  
  .credit a, .error {
    color: red;
  }

  #shop-calc {
      font-size: 40px;
      display: flex; 
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
  }

  #valorant-bild {
    border: white;
    border-style: double;
    width: 100%;
}



@media screen and (max-width:420px) {
    
    h1 {
        font-size: 35px;
    }

    body {
        background-color: rgb(39, 39, 39);
        font-family: 'Valorant', sans-serif;
        background-color: #403060;
        background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #valorant-bild {
        width: 400px;
    }

    #ind-bild {
        margin: 10px 0px;
    }
    
    .dropdown {
        color: white;
        font-size: 70%;
        position: auto;
        display: inline-block;
    }

    .dropbtn {
        width: 100%;
        font-size: 15px;
    }

    .dropdown-content a {
        padding: 6px 10px;
        color: white;
      }

      .dropdown-content {
        box-shadow: 1.5px 1.5px 1.5px 1.5px white;
        background-color: red;
        border-radius: 25px;
        padding-right: 0px;
      }

      #myDropdown {
        width: 105px;
      }

      #music {
          font-size: 60%;
      }

    #text1 {
        width: 100%;
        margin: 35px 0px;
        font-size: 69%;
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .link {
        font-size: 120%;
    }

    .links {
        font-size: 50%;
        margin-top: 58px;
        text-align: center;
    }

    .surces {
        margin-bottom: 10px;
    }

    .sources {
        font-size: 150%;
        margin-bottom: 8px;
    }

    #game3 {
        font-size: 70%;
        padding: 5px;
        width: 85%;
        margin-top: 2%;
        margin-bottom: 0px;
    }

    #game2 {
        max-width: 390px;
    }

    #game1 {
        max-width: 390px;
    }

    .music-bar {
        margin: 10px;
        width: 50%;
    }

    #sentinel {
        width: 200;
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    
    #duelist {
        width: 200;
        flex-direction: column;        
        flex-direction: column;
        align-items: center;    
    }

    #controller {
        width: 200;
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    #initiator {
        width: 200;
        display: flex; 
        flex-direction: column;
        align-items: center;    
    }

    #fract-bild {
        width: 400px;
    }

    #fracture {
        margin: 10px 0px;
    }

    #agents-title {
        width: 300px;
        margin: 35px;
        font-size: 75%;
        text-align: center;
    }

    #roles {
        width: 200;
    }

    #some-agents {
        width: 200px;
    }

    #media-roles {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 400px;
    }
}