body {
    background-color: rgb(39, 39, 39);
    font-family: 'Valorant', sans-serif;
    background-color: #403060;
    background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: 'VALORANT';
    font-style: normal;
    font-weight: 400;
    src: local('VALORANT'), url('https://fonts.cdnfonts.com/s/37505/Valorant Font.woff') format('woff');
}

ul {
    background-color:red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
    font-size: 100px;
    text-decoration: 0;
    color: white;
    z-index: 1;
}

li {
    float: left;
}

h1 {
    color: white;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 75px;
    border-radius: 75px;
    border-bottom: groove white;
}

p {
    color: white;
}

div {
    margin-top: 0px;
}

#bild1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text1 {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#text2 {
    margin: 0px;
    align-items: top;
}

li a:hover {
    color: rgb(80, 0, 0)
}

#roles {
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.all-roles {
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
}

.all-roles-text {
    margin: 10px;
    max-width: 450px;
    text-align: center;
}

.some-agents {
    border: 2px solid white;
}

#events {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#event-text {
    border: thick turquoise;
    border-style: groove;
}

#event-text2 {
    border: thick turquoise;
    border-style: double;
}


.div-content {
    width: 700px;
    position: relative;
    min-width: 700px;
    border: white;
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 7px 7px;
    vertical-align: sub;
    overflow: hidden;
    text-decoration: none;
    color: greenyellow;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 37.5%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.slider-button:hover {
    color: rgb(255, 50, 0);
}

.display-left {
    left: 0%;
}

.display-right {
    right: 0%;
}

#game1 {
    width: 500px;
    border: double white;
    padding: 5px;
}

#game2 {
    width: 500px;
    border: double white;
    padding: 5px;
}

#valorant-bild {
    border: white;
    border-style: double;
}

#game3 {
    border: inset whitesmoke;
    margin: 35px
}

#fracture {
    border: hidden
}

#gaias {
    border: hidden;
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#din-shop {
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    border-bottom: 5px double greenyellow;
}

#collection {
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 80px;
}

.skin {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.all-skins {
    margin: 0px;
    width: 380px;
}

.some-skins {
    border: hidden;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 380px;
}

#agents-title {
    margin: 0px;
    border: groove whitesmoke;
    padding: 3px;
}

#pic-changer {
    margin: 0px;
    border: double white;
}

#moyen {
    margin: 0px;
}

#ind-bild {
    margin: 0px;
}

#fract-lank {
    margin: 0px
}

#champions-border {
    margin: 0px;
    border: double white;
}

.links {
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}


.dropbtn {
    background-color: red;
    cursor: cell;
    color: white;
    flex-direction: row;
    font-family: 'Valorant', sans-serif;
    font-size: 20px;
    border: groove white;
    padding: 18px;
    border-radius: 75px;
  }

.dropdown-content {
    display: none;
    min-width: 200px;
    position: absolute;
    overflow: auto;
    z-index: 1;
    border: groove white;
    box-shadow: 3px 3px 3px 3px white;
    background-color: red;
    border-radius: 30px;
  }

.dropdown a:hover {background-color: rgb(80, 0, 0);}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(80, 0, 0);
  }

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    color: white;
  }

.show {display: block;}



#index-css {
    border-bottom: groove rgb(200, 200, 200);
    background-color:rgb(158, 0, 0)
}

#game-css {
    border-bottom: groove rgb(200, 200, 200);
    background-color:rgb(131, 0, 0)
}

#agents-css {
    border-bottom: groove rgb(200, 200, 200);
    background-color:rgb(114, 0, 0)
}

#shop-css {
    border-bottom: groove rgb(200, 200, 200);
    background-color:rgb(97, 0, 0)
}

#events-css {
    background-color:rgb(80, 0, 0)
}

#music {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.sources {
    font-size: 40px;
}

.link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: turquoise;
}